@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");




:root {
 
    --orange: #fd461f;
    --dark-orange: #f63f17;
    --light-orange: #ff8166;
    --light-orange-dull: #fe6c4c;

    --yellow: #ffbf00;
    --light-yellow: #fbc933;
    --dark-green: #0c6423;
    --light-green: #23f15b;
    --light-green-dull: #35d760;

    --black: #141414;
    --dark-ash-1: #333333;
    --dark-ash-2:#444444;
    --ash: #acacac;
    --light-ash: #f3f3f3;
    --white: #f0f0f0;
    --white-1:#ececec;
    --white-2:#eaeaea;
    --pure-white: #fff;
    --light-two: #f9fafb;
    --light-three: #f6f7fb;
  }

  /* Genral Styles */

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
  scroll-behavior: smooth;
  background-color: var(--white);  
  }

  body, button, input,textarea {
    font-family: "Poppins", sans-serif;
  }

  a {
      text-decoration: none;
  }
  ul {
      list-style: none;
  }
  img {
      width: 100%;
  }
  i{
      padding: 5px 5px;
  }



body{
    width: 100%;
    overflow-x: hidden;
    background-color: var(--white);  
    font-family: 'Poppins', sans-serif;
   
}

.container-nav{ 
    width: 100%;
    display: flex;
    flex-direction: column;  
    background-color: var(--white);  
}
/* start main nav */
.nav_main{
    margin: 0px;
    padding: 0px;
    height: 96px;
    width: 100%;
    
    
}
.logo{

   width:20%;
   display:flex;
   justify-content:center;
   align-items: center;
   
}

nav {
    width: 100%;
    z-index: 50;
    
    
}
nav .container-nav {
    height: 96px;
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 5;
    max-width: 92rem;
    padding: 0 4rem;
    margin: 0 auto;
    background-color: var(--pure-white);
    margin-left: 20px;
    justify-content:center
}
nav img{
  width:15rem;
  display: flex;
  align-items: center;
}
.links{
    width: 80%;
    display:flex;
    justify-content:center;

    
    align-items: center;

}
.links ul {
    display: flex;
}
.links a {
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: var(--dark-ash-2);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
}
.links a.active {
    color: var(--orange);
    border-radius: 2rem;
    border: 0.1rem solid var(--orange);
    font-size: 1rem;
    padding: 0.9rem 2.1rem;
    margin-left: 1rem; 
    background-color: none;
}
.links a:hover {
    color: var(--orange);
    width:fit-content;
}
.links a.active:hover {
    color: var(--white);
    background-color:var(--orange);
}


.hamburger-menu {
    width: 2.7rem;
    height: 3rem;
    z-index: 100;
    position: relative;
    display: none;
    align-items: center;
    justify-content: flex-end;
} 
.hamburger-menu .bar {
    position: relative;
    width: 2.1rem;
    height: 5px;
    border-radius: 3px;
    background-color: var(--orange);
    transition: 0.5s;
} 
.bar:before, .bar:after {
    content: "";
    position: absolute;
    width: 2.1rem;
    height: 5px;
    border-radius: 3px;
    background-color: var(--orange);
    transition: 0.5s;
}
.bar:before {
    transform: translateY(-9px);
}
.bar:after {
    transform: translateY(9px);
}
nav.open .hamburger-menu .bar {
    background-color: transparent;
    transform: rotate(360deg);
}
nav.open .hamburger-menu .bar:before {
    transform: translateY(0) rotate(45deg);
    background-color: var(--white);
}
nav.open .hamburger-menu .bar:after {
    transform: translateY(0) rotate(-45deg);
    background-color: var(--white);
}
nav.open .links {
    transform: translateX(0);
}

/* end main nav */


/* start middle part */
.middle{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.middle .left{
    width: 20%;
    height: 100%;
    
}
.middle .right{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.middle-first{
    display: flex;
    flex-direction: row;
    height: auto;
}




/*start Drawer  */

.drawer{
    
   position: fixed;
    height: 85%;
    width: 20%;
    transition: 0.5s;
    overflow: hidden;
    box-shadow: 5px 1px 6px gray;
    background-color: var(--pure-white);
    border-radius: 20px;
    

    
}

.drawer ul {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    
    
}


.drawer ul li{
    margin-top: 30px;
    position: relative;
    width: 100%;
    list-style: none;
    height: 40px;
    text-align: center;
    border-radius: 10px 10px;
    
   
}
.drawer ul li  :hover{
    
    color: #fd461f;    ;
}
/* end drawer */


/* start profile */
#middle-first{
    width: 100%  ;
    height:auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    /* background:var(--ash); */
    padding: 80px;
     
}
.card{
    height: 350px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    transition: 0.3s;
    background-color: var(--light-ash);
    border-radius: 20px 20px 20px 20px;
    


}
.btn {
    display: inline-block;
    padding: 0.85rem 2rem;
    border: 0.1rem solid var(--orange);
    background-color: var(--white);
    color: var(--white);
    border-radius: 2rem;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s;
}  
.btn:hover {
    background-color: var(--orange);
    
    font-weight: 500;
    font-variant: var(--light-yellow);
    
}
#middle-first .card .right p a:hover{
    color: var(--pure-white);
}


.btn.small {
    padding: 0.7rem 1.8rem;
    font-size: 1rem;
}
.card:hover{
    box-shadow: 5px 5px 5px 5px gray;w: 0 0 20px 0px #141414; */
 
}
#middle-first  .left{
    width: 40%;
    /* background:var(--white); */
    display: flex;
    align-items: center;
    /* background:var(--ash); */
    border-radius: 50px 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;

}
#middle-first  .left img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}


#middle-first  .right{
    width: 60%;
    /* background:var(--ash); */
    border-radius: 50px 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#middle-first  .right p{
    margin-top: 5px;
}
#middle-first  .right p a{
   color: var(--orange);
}



.username{
    font-size: large;
}

.edit_profile_p{
    display: flex;
    margin-top: auto;
    align-self: flex-end;
    justify-self: end;
    margin-right: 50px;
    
      
  }
/* end profile */

.section{
    width: 80%;
    background-color: var(--light-ash);
    border-radius: 10px 10px 10px 10px;
    /* box-shadow: 1px 0px 4px 1px gray; */
    padding-bottom: 30px;
    padding-top: 30px;
    
}

/* start my bookings */
#my-bookings{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
   
}
.my-bookings-img{
    height: auto;
    display: flex;
}
#my-bookings .section img{
    margin: auto;
   margin-bottom: 50px;
   height: 400px;
   width: 400px;
   align-items: center;
   justify-items:center;

}
.completed_status{
    background-color: #ff0000;
}
.pending_status{
    
    background-color: #09ff00;
}
/* end my bookings */



/* start favorite list */
#my-favorite-list{
    margin-top: 80px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */

}

#my-favorite-list .favorite_list_container{
    display: flex;
    flex-direction: row;

}

#my-favorite-list .favorite_list_container .img{
    
    width: 40%;
    align-items: center;
}

#my-favorite-list .favorite_list_container .table{
    width: 60%;
  align-items: center;

}
/* end favorite list */


/* start share bookings */
#share-bookings{
    
    
}
/* end start share bookings */

/* start rate sports arena */
#rate_sports_arena{

}
/* end rate sports arena */


/* start notification */
#notificaton{
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: brown; */
    

}
.notification_container{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.notification_container .left{
    width: 30%;
    align-items: center;
    
}
.notification_container .right{
    width: 70%;
    align-items: center;
}


/* end notification */

/* start sign out */
#sign_out{

}

/* end sign out */


/* start table */
.styled-table {
    
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 80%;
    margin: auto;
    border-radius:25px 25px 25px 25px;
    border: none;
}
.styled-table thead tr {
    background-color: rgb(172, 167, 167);
    color: #ffffff;
    text-align: left;
    border-radius:50px 50px 50px 50px;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 3px solid #dddddd;
    border-top: 3px solid #dddddd;
    
}
.styled-table .notification_tbody :hover {
    background-color: #23f15b;
}


a {
    margin: auto;
    color: #000000;
    padding-left: 10px;
}
a :hover{
    color:var(--dark-orange);
}

.icon-table {
    margin-left: 40px;
    

}

/* end table */

/* start up button */
.up-button {
      width: 60px;
      margin-right: 0px;
      float: right;
      margin-left: 1400px;
      
}
/* end up button */

 @media (max-width:576px) {
    .card{
        flex-direction: column;
        width: 100vw;
    }
    .drawer{
        display: none;
    }
    .middle .left{
        width: 0%;
        display: none;
        
    }
    .middle .right{
        width: 100vw;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
    #my-favorite-list .favorite_list_container{
        display: flex;
        flex-direction: column;
    }
    #notificaton .notification_container{
        display: flex;
        flex-direction: column;
    }
}


/* Footer */

#footer-div{
    
    width: 100%;
    height: auto;
    justify-self: flex-end;
    padding-top: 50px;
    
}
.footer {
    background-color: var(--black);
    padding: 2rem 0;
    height: max-content;
  }
  .footer .grid-4 {
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr 1.5fr;
  }
  .grid-4-col {
    padding: 0 1rem;
  }
  .footer .title-sm {
    color: var(--dark-orange);
    margin-bottom: 1rem;
  }
  .footer .text {
    color: var(--dark-ash-2);
    justify-content: center;
  }
  .footer-image {
    width:80%;
    vertical-align: middle;
    align-self: center;
  }
  .footer-links a {
    color: var(--dark-ash-2);
    font-size: 1.25rem;
    display: inline-block;
    margin-bottom: 0.4rem;
    transition: 0.3s;
    align-items: center;
    padding-left:12%;
  }
  .footer-links a:hover {
    color: var(--orange);
  }
  
  .bottom-footer {
    margin-top: 2rem;
    padding: 0 1.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.bottom-footer {
    margin-top: 3rem;
    padding: 0 1.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright .text {
  color: var(--ash);
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
}
.followus-wrap {
  display: flex;
}
.followus {
  display: flex;
  align-items: center;
}
.followus h3 {
  color: var(--ash);
  font-weight: 500;
  font-size: 1.3rem;
}
.followus .footer-line {
  width: 60px;
  height: 2px;
  background-color: var(--ash);
  margin: 0 1.2rem;
  display: inline-block;
}
.back-btn-wrap {
  position: relative;
  margin-left: 2.5rem;
}
.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  background-color: var(--black);
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  position: relative;
  z-index: 2;
}
.back-btn:hover {
  background-color: var(--dark-orange);
}
.back-btn-wrap:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: var(--pure-white);
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  border-radius: 50%;
  opacity: 0.08;
  animation: scale 1.2s ease-out infinite 1s;
}
@media (max-width:768px) {
    .card{
        flex-direction: column;
    }
    .drawer{
        display: none;
    }
    .middle .left{
        display: none;
    }
}
@media (max-width:992px) {
    .card{
        flex-direction: column;
    }
}
@media (max-width:1200px) {
    .card{
        flex-direction: column;
    }
} 




.side-nav{
    position: fixed;
    background-color:#fafafa;
    width: 20%;
    height: 85%;
    border-radius: 0 0 0 20px;
    overflow: hidden;
    top: 4em;
    margin-top: 50px;
  }
  .side-nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30em;
    justify-content: space-around;
    
  }
  
  .side-nav-container li{
    width: auto;
    background-color:#ffff;
    padding: .5em;
    border-radius: 10px;
  } 
  .side-nav-container a{
     text-decoration: none;
     color: var(--dark-ash-2);
  }
  .side-nav-container i{
    margin-right: 2px;
  }
  .side-nav-container li:hover{
    font-size: 1.1rem;
    background-color: #fff3e5;
  }








