*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    width:100%;
}
.faq_container{
    width:80%;
    float:left;
    margin:10%;
    margin-top:50px;
}

.faq_container h2{
    text-align: center;
    color:#fe6c4c;
    font-weight:700;
    font-size:30px;
    margin-bottom:50px;
}

.faq_customers h3{
    text-align: left;
    color:#4e4e4e;
    font-weight:600;
    font-size:25px;
    margin-bottom:50px;
}

.faq_customers_left{
    flex-basis:75%;
    float:left;
    width:75%;
    box-sizing:border-box;
    transition: 0.5s; 
    border-radius:15px;
    margin-bottom:100px;
    padding:30px;
    padding-right:30px;
}


.faq_customers_right img{
    margin-top:200px;
    float:right;
    width:240px;
    flex-basis:20%;
}
/* 
.accordion h5{
    padding: 16px;
    cursor: pointer;
    border-radius:50px;
    display: flex;
    margin-top: 20px;;
    margin-bottom: 20px;
    align-items: center;
    color:#f0f0f0;
    background-color: #ff8166;
    border: 2px solid #fd461f;
    font-weight:600;
    font-size:18px;
}
/* .accordion .icon{
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    background-color: #fd461f;
} */

/* .accordion h5:hover{
    box-shadow: 0 0 20px 0px #141414;
    background:#f0f0f0;
    color:#fd461f;
    transition: 0.5s;
}

.panel{
    padding: 16px;
    border: 2px solid #fd461f;
    cursor: pointer;
    border-radius:15px;
    margin-top: 20px;;
    margin-bottom: 20px;
    align-items: center;
    color:#acacac;
    background-color: #f0f0f0;
    font-weight:500;
    font-size:16px;
    text-align: justify;
overflow:hidden;
    transition: all 0.5s ease-in-out;

}
.panel p:hover{
    box-shadow: 0 0 20px 0px #141414;
    background:#f0f0f0;
    color:#4e4e4e;
    transition: 0.5s;
}  */ 

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

.send_button button{
    background-color: #fd461f;
    width:100px;
    border:none;
    outline:none;
    color:#fff;
    height:35px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    }
    .send_button button:hover{
      box-shadow: 0 0 20px 0px #141414;
      background:#f0f0f0;
      color:#fd461f;
      transition: 0.5s;
    }
