:root{
  --menu-width: 60em;
  --items: 4;
  --item-width: 10em;
}

body{
  margin:0;
  padding:0;
  background: #000;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

nav{
  width: var(--menu-width);
  display:flex;
  transform-style:preserve-3d;
  justify-content: space-evenly;
  position: relative;
  z-index: 2;
  margin: 0px auto;
  perspective: 2000px;
  flex-wrap:wrap;
  top: 0.1em;
  right:7em;
  align-items: left;
}
nav-links{
  color:#9e9e9d;
  font-weight: 600;
  transform-style:preserve-3d;
  flex-grow:1;
  display:flex;
  flex-basis: var(--item-width);
  box-sizing: border-box;
  padding: 1em 1.5em;
  justify-content: center;
  perspective: 200px;
  letter-spacing: 0.5px;
  min-height: 7.5em;
}

nav img{
  width: 200px;
}
.nav-links{
  flex:1;
  text-align: center;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding:8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #9e9e9d;
  text-decoration: none;
  font-size: 15px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height:2px;
  background: #fd461f;
  display:block;
  margin:auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width:100%
}
.profile_btn{
  display: inline-block;
  text-decoration: none;
  color:#fff;
  border: 1px solid #fd461f;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
  width: 35px;
  height: 12px;
  background:#fd461f;
  position:relative;
  cursor: pointer;
  border-radius: 25px 25px 25px 25px;
}
.profile_btn:hover{
  border: 1px solid #9e9e9d;
  background:#9e9e9d;
  color:#fd461f;
  transition: 1s;
}

/* Slideshow */
.slide-container{
  width: 700px;
  height: 500px;
  overflow: hidden;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
  text-align: center;
}
.slide{
  width:6300px;
  height: 500px;
  position:relative;
  transition: left 2s;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
}
.slide-image{
  float:left;
  margin:0px;
  padding:0px;
}
.slide-button-container{
  top: -20px;
  position:relative;
}
.slide-button{
  display:inline-block;
  height:10px;
  width:10px;
  border-radius:5px;
  background-color:#fff;
}
#slide-image-1:target ~ .slide-image{
  left:0px;
}
#slide-image-2:target ~ .slide-image{
  left:-700px;
}
#slide-image-3:target ~ .slide-image{
  left:-1400px;
}
#slide-image-4:target ~ .slide-image{
  left:-2100px;
}
#slide-image-5:target ~ .slide-image{
  left:-2800px;
}
#slide-image-6:target ~ .slide-image{
  left:-3500px;
}
#slide-image-7:target ~ .slide-image{
  left:-4200px;
}
#slide-image-8:target ~ .slide-image{
  left:-4900px;
}#slide-image-9:target ~ .slide-image{
  left:-5600px;
}


.textbox{
  width: 90%;
  color: #fd461f;
  position:absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -80%);
  text-align: left;
}
.textbox h1{
  font-size: 30px;
}
.textbox p{
  margin: 10 px 0 40 px;
  font-size: 14px;
  color:#fd461f;
}
.book_now_btn{
  display: inline-block;
  text-decoration: none;
  color:#0c6423;
  border: 1px solid #1cc94a;
  padding: 12px 34px;
  font-size: 13px;
  background:#1cc94a;
  position:relative;
  cursor: pointer;
}
.book_now_btn:hover{
  border: 1px solid #23f15b;
  background:#23f15b;
  transition: 1s;
}
nav.fa{
  display:none; 
}



@media(max-width:700px){
  .textbox h1{
    font-size: 20px;
  }
  .nav-links ul li{
    display:block;
  }
  nav-links{
    position: absolute;
    background:#fd461f;
    height: 100vh;
    width: 200px; 
    top:0;
    left:-200;
    text-align:left;
    z-index: 2;
    transition: 1s;
  }
  nav.fav{
    display:block; 
    color:#ffbf00;
    margin:10px;
    font-size: 22px;
    cursor:pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}   