@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
 
    --orange: #fd461f;
    --dark-orange: #f63f17;
    --light-orange: #ff8166;
    --light-orange-dull: #fe6c4c;

    --yellow: #ffbf00;
    --light-yellow: #fbc933;
    --dark-green: #0c6423;
    --light-green: #23f15b;
    --light-green-dull: #35d760;

    --black: #141414;
    --dark-ash-1: #333333;
    --dark-ash-2:#444444;
    --ash: #acacac;
    --white: #f0f0f0;
    --pure-white: #fff;
    --light-two: #f9fafb;
    --light-three: #f6f7fb;
  }

/* Genral Styles */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
scroll-behavior: smooth;
}
body, button, input,textarea {
  font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    width: 100%;
}
.container {
    position: relative;
    z-index: 5;
    max-width: 92rem;
    padding: 0 4rem;
    margin: 0 auto;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
} 
.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center; 
} 
.text {
    font-size: 1.5rem;
    color: var(--dark-ash-2);
    line-height: 1.6;
}
.column-1 {
    margin-right: 1.5rem;
} 
.column-2 {
    margin-left: 1.5rem;
}  
.image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.z-index {
    position: relative;
    z-index: 2;
}
.section {
    padding: 7rem 0;
    overflow: hidden;
} 
.section-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.book-now-btn{
    display: inline-block;
    padding: 0.85rem 2rem;
    background-color: var(--light-green);
    color: var(--dark-green);
    border-radius: 2rem;
    border-width: 1rem;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s; 
    cursor: pointer;  
}
.book-now-btn:hover{
    border: 0.1rem solid var(--light-green);
    background:var(--white);
    color:var(--light-green-dull);
    transition: 0.3s;
}

/* 
.btn {
    display: inline-block;
    padding: 0.85rem 2rem;
    background-color: var(--light-green);
    color: var(--dark-green);
    border-radius: 2rem;
    border-width: 1rem;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: var(--white);
    border: 0.1rem solid var(--light-green);
    border-color: var(--light-green);
    color:var(--light-green-dull);
  }
  
  .btn.small {
    padding: 0.7rem 1.8rem;
    font-size: 1rem;
  } */


/* End of General Styles */

/* Header */

header {
    width: 100%;
    background-color: var(--white);
    overflow: hidden;
    position: relative;
}
nav {
    width: 100%;
    position: relative;
    z-index: 50;
}
nav .container {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
}
.logo {
    width: 120px;
    display: flex;
    align-items: center;
}
.links ul {
    display: flex;
}
.links a {
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: var(--dark-ash-2);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
}
.links a.active {
    background-color: var(--orange);
    color: var(--white);
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.9rem 2.1rem;
    margin-left: 1rem;  
}
.links a:hover {
    color: var(--orange);
    width:fit-content;
}
.links a.active:hover {
    color: var(--dark-orange);
    background-color:var(--light-orange);
}
.slideshow-container .home-slides {
    display: none;
}  
.slideshow-container {
    max-width: 750px;
    position: relative;
    margin: auto;
    align-content: center;
}
.header-content .container.grid-2 {
    grid-template-columns: 1fr 2fr;
    min-height: calc(100vh - 6rem);
    padding-bottom: 2.5rem;
    text-align: left;
}
.header-title {
    font-size: 3rem;
    line-height: 0.8;
    color: var(--dark-ash-1);
}
.header-content .text {
    margin: 2.15rem 0;
    color: var(--ash);
}



/* End of header section */


  