{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block body %}
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <h1 align="center">Page not found</h1>
    <p align="center">Sorry, that page doesn't exist.</p>
   <img src="/Codes/Sportizza/public/Assets/Images/Error-Images/error_404.svg" align=center" alt="image not found"/>
{% endblock %}
