<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/css/flashMessages.css?version=1">

    <title>Document</title>
</head>
<body>

    {% for message in flash_messages %}
<div class="alert alert-{{ message.type }}">
 {{ message.body }}
    </div>
{% endfor %}
    <form id="mobileForm" action="/Edituserdetails/redirectotppage" method="post"
    onSubmit="validateMobileResetForm()">
        <!-- <label for="mobile">Mobile Number</label>
        <input id="mobile_number" type="text" name="mobile_number" 
         placeholder="Ex:-) 0712345678" >
        <input type="submit" value="submit"> -->




        <div class="input-box">
            <label for="mobile">Mobile Number</label>
            <input id="mobile_number" type="text" name="mobile number" onfocusout="validateMobile()"
              placeholder="Enter mobile number" >
            <div class="helper-text" id="mobileMsg">
              <!-- <p>{{errors["mobile_number1"]}} {{errors["mobile_number2"]}}
                {{errors["mobile_number3"]}}
              </p> -->
            </div>
          </div>

          <input type="submit" value="submit">
    </form>


    
    <script type="text/javascript" src="/Assets/js/signup_validation.js?version=16.0"></script>
    <script type="text/javascript" src="/Assets/js/enterMobile.js?version=16.0"></script>

</body>
</html>