<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Edituserdetails/redirectotppage" method="post">
        <label for="mobile">Mobile Number</label>
        <input id="mobile_number" type="text" name="mobile_number" 
         placeholder="Ex:-) 0712345678" >
        <input type="submit" value="submit">
    </form>
</body>
</html>