<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Bookings</title>
    <link rel="stylesheet" href="/Assets/css/BookingHandelingStaff/notification.css?version=4">
    <script src="https://kit.fontawesome.com/3220c9480a.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Top Navigation Bar -->
    <nav>
        <div class="nav-left">
            <div class="logo-container">
                <a href="#">
                    <i class="fas fa-running "></i>
                    <span class="logo-name">Sportizza</span>
                </a>
            </div>
            <div class="search-bar-container">
                <input type="search" name="search" placeholder="Search">
                <i class="fas fa-search "></i>
            </div>
            <div class="nav-profile">
                <button class="openbutton" onclick="openpopupform()">
                    <div class="profile-details">
                        <img src="/Assets/images/Team members/jonathan.png" alt="" class="profile-picture">
                        <div class="username">{{current_user.first_name}} {{current_user.last_name}}</div>
                    </div>
                </button>
            </div>
            <div class="sign-in-out-btn">
                <button onclick="open_popup_signout_message()"> Sign Out </button>
                <!-- {% if current_user %}
                 <a href="/logout"> Sign Out</a>
                 {% endif %} -->
            </div>
        </div>
        <!-- search bar for mobile -->
        <div class="search-bar-container-mobi">
            <input type="search" name="search" placeholder="Search">
            <i class="fas fa-search "></i>
        </div>
    </nav>
    <div id="popup_signout" class="sectionpop ">
        <div class="formsection">

            <div>
                <button class="closebutton" onclick="close_popup_signout_message()">❌</button>
            </div>
            <form action="/action_page.php" style="margin:20px">
                <div style="margin:auto">
                    <h1 style="margin:auto">
                        Sign Out
                    </h1>
                    <p style="margin:auto">
                        Do your really want to sign out now?
                    </p>
                </div>
            </form>


            <div style="display:flex">

                <button class="popup_delete_button">
                    {% if current_user %}
                    <a href="/logout"> YES</a>
                    {% endif %}
                </button>
                <button onclick="close_popup_signout_message()" class="popup_button">
                    NO
                </button>
            </div>
        </div>
    </div>

    <!-- End Top Navigation Bar -->
    <!-- popup form for edit profile -->
    <div id="myForm" class="sectionpop ">


        <div class="formsection">

            <div>
                <button s class="closebutton" onclick="closepopupform()">❌</button>
            </div>
            <div class="editProPic">
                <img id="form-profile-picture" src="/Assets/images/customer/profile-picture.jpg" alt="">
                <input type="file" id="file">
                <label for="file" id="uploadBtn">Choose Photo</label>
            </div>
            <form action="/action_page.php" style="margin:20px;margin-top: 0px;" class="nav-user-edit-from">

                <label for="firstName">First Name</label>
                <div class="form-input-contant">
                    <input id="firstName" type="text" name="first_name" onfocusout="validateFirstName()"
                        placeholder="Enter first name" value="{{user.first_name}}">
                    <i class="fas fa-user-edit"></i>
                </div>
                <div class="helper-text" id="firstNameMsg"></div>



                <label for="lastName">Last Name</label>
                <div class="form-input-contant">
                    <input id="lastName" type="text" name="last_name" onfocusout="validateLastName()"
                        placeholder="Enter last name" value="{{user.last_name}}">
                    <i class="fas fa-user-edit"></i>
                </div>
                <div class="helper-text" id="lastNameMsg"></div>

                <label for="username">Username</label>
                <div class="form-input-contant">
                    <input id="username" type="text" name="username" onfocusout="validateUsername()"
                        placeholder="Enter a unique Username" value="{{ user.username}}">
                    <i class="fas fa-user-edit"></i>
                </div>
                <div class="helper-text" id="usernameMsg"></div>

                <label for="primaryNumber">Primary Number</label>
                <div class="form-input-contant">
                    <input type="text" id="primaryNumber" name="primaryNumber" placeholder="Enter Primary Number"
                        value="0705614640">
                    <i class="fas fa-user-edit"></i>
                </div>
                <!-- <a class="formLink" onclick="open_editPrimaryPhoneNumber()">Click here to change</a> <br> -->



                <label for="secondaryNumber">Secondary Number</label>
                <div class="form-input-contant">
                    <input type="text" id="secondaryNumber" name="lastname" placeholder="Enter Secondary Number"
                        value="0705614640">
                    <i class="fas fa-user-edit"></i>
                </div>
                <!-- <a class="formLink" " onclick=" open_editSecondaryPhoneNumber()">Click here to change</a> <br> -->

                <label for="password">Password</label>
                <div class="form-input-contant">
                    <input type="password" id="password" name="password" value="0705614640">
                    <i class="fas fa-user-edit"></i>
                </div>
                <!-- <a class="formLink" onclick="open_editPassword()">Click here to change</a> <br> -->

                <input type="submit" value="Save">

            </form>


        </div>

    </div>
    <!-- start edit primary number section -->
    <div id="popup_editPrimaryNumber" class="sectionpop ">


        <div class="formsection">

            <div>
                <button s class="closebutton" onclick="close_editPrimaryPhoneNumber()">❌</button>
            </div>
            <form action="/action_page.php" style="margin:20px">

                <label for="oldNumberOTP">OTP Code From Old Mobile Number</label>
                <input type="text" id="userid" name="oldNumberOTP" placeholder="Example-1293" value="">

                <label for="mobile">Primary Number</label>
                <input id="mobile" type="text" name="mobile_number" onfocusout="validateMobile()"
                    placeholder="Ex:-) 0712345678" value="{{user.mobile_number}}">
                <div class="helper-text" id="mobileMsg"></div>



                <label for="newNumberOTP">OTP Code From New Mobile Number</label>
                <input type="text" id="newNumberOTP" name="newNumberOTP" placeholder="Example-1293" value="">
            </form>


            <div style="display:flex">

                <button style="background-color:#e74c3c    " class="popup_button">
                    Submit
                </button>
                <button onclick="close_editPrimaryPhoneNumber()" class="popup_button">
                    NO
                </button>
            </div>
        </div>
    </div>
    <!--end edit primary number section -->
    <!-- start edit secondary number section -->
    <div id="popup_editSecondaryNumber" class="sectionpop ">


        <div class="formsection">

            <div>
                <button s class="closebutton" onclick="close_editSecondaryPhoneNumber()">❌</button>
            </div>
            <form action="/action_page.php" style="margin:20px">

                <label for="oldNumberOTP">OTP Code From Old Mobile Number</label>
                <input type="text" id="userid" name="oldNumberOTP" placeholder="Example-1293" value="">

                <label for="mobile">Primary Number</label>
                <input id="mobile" type="text" name="mobile_number" onfocusout="validateMobile()"
                    placeholder="Ex:-) 0712345678" value="{{user.mobile_number}}">
                <div class="helper-text" id="mobileMsg"></div>



                <label for="newNumberOTP">OTP Code From New Mobile Number</label>
                <input type="text" id="newNumberOTP" name="newNumberOTP" placeholder="Example-1293" value="">
            </form>


            <div style="display:flex">

                <button style="background-color:#e74c3c    " class="popup_button">
                    Submit
                </button>
                <button onclick="close_editSecondaryPhoneNumber()" class="popup_button">
                    NO
                </button>
            </div>
        </div>
    </div>
    <!--end edit secondary number section -->

    <!-- start edit password number section -->
    <div id="popup_editPassword" class="sectionpop ">


        <div class="formsection">

            <div>
                <button s class="closebutton" onclick="close_editPassword()">❌</button>
            </div>
            <form action="/action_page.php" style="margin:20px">

                <label for="oldNumberOTP">OTP Code From Mobile Number</label>
                <input type="text" id="userid" name="oldNumberOTP" placeholder="Example-1293" value="">


                <!-- <label for="newNumberOTP">Enter Old Password</label>
            <input type="text" id="newNumberOTP" name="newNumberOTP"
                placeholder="" value=""> -->


                <label for="password">New Password</label>
                <input id="password" type="password" name="password" onfocusout="validatePassword()"
                    placeholder="Enter a password" value="">
                <i class="bi bi-eye-slash" id="togglePassword"></i>
                <div class="helper-text" id="passwordMsg"></div>




            </form>


            <div style="display:flex">

                <button style="background-color:#e74c3c    " class="popup_button">
                    Submit
                </button>
                <button onclick="close_editPassword()" class="popup_button">
                    NO
                </button>
            </div>
        </div>
    </div>
    <!--end edit password number section -->
    <!-- end popup form for edit profile -->

    <!-- popup notification section -->
    <div id="popup_notification" class="sectionpop ">


        <div class="formsection">

            <div>
                <button s class="closebutton" onclick="close_popup_notification()">❌</button>
            </div>

            <form action="/action_page.php" style="margin:20px">
                <h1>Notification</h1>


                {% for notification in notifications %}
                <div>
                    <p>{{notification.description}}</p>
                </div>

                {% endfor %}

            </form>
        </div>
    </div>
    <!-- End popup notification section -->

    <section class="page-container">

        <!-- SIDE NAVIGATION BAR - START -->
        <div class="sidebar">
            <div class="sidebar-container">
                <div class="side-menu">
                    <i class="fas fa-bars fa-2x " id="side-menu-open-btn"></i>
                    <i class="fas fa-times fa-2x" id="side-menu-close-btn"></i>
                </div>
                <ul class="side-menu-list">
                    <li>
                        <a href="/Spbookstaff" class="side-menu-li">
                            <i class="fas fa-home"></i>
                            <p class="side-menu-item">Arena Profile</p>
                        </a>
                        <p class="side-menu-tooltip">Arena Profile</p>
                    </li>
                    <li>
                        <a href="/Spbookstaff/managebookings" class="side-menu-li">
                            <i class="fas fa-bookmark"></i>
                            <p class="side-menu-item">Manage Bookings</p>
                        </a>
                        <p class="side-menu-tooltip">Bookings</p>
                    </li>
                    <li>
                        <a href="/Spbookstaff/sabookstaffnotification" class="side-menu-li">
                            <i class="fas fa-bell"></i>
                            <p class="side-menu-item">Notifications</p>
                        </a>
                        <p class="side-menu-tooltip">Notifications</p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- SIDE NAVIGATION BAR - END -->

        <!-- Manage Bookings Page -->
        <div class="page-content-container">
            <div class="container">
                <h1 class="page-header">View Notification</h1>

                <!-- View Notifications Tab -->
                <div id="notification" class="booking_tab_content" style="display: block;">
                    <table class="booking-table">
                        <thead>
                            <tr class="booking-thead-first-tr">
                                <th class="booking-table-first-th">
                                    <div class="booking-table-filter-container">
                                        <div class="booking-table-search-container">
                                            <input type="search" name="search" placeholder="Search">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <div class="booking-table-date-picker">
                                            <label class="date-label">Date</label>
                                            <input type="date">
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            <tr class="booking-thead-second-tr" style="text-align: center;">
                                <th class="b-first-th">Date</th>
                                <th>Time</th>
                                <th class="b-last-th" style="width:55%; text-align:right;">Notification</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for notification in notifications %}
                            <tr style="cursor: pointer" onclick="open_popup_notification()">
                                <td data-label="Date:">{{notification.date}}</td>
                                <td data-label="Time:">{{notification.time}}</td>
                                <td class="notification-td-left">{{notification.subject}}</td>
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>
    </section>
    <!-- Start of Footer -->
    <footer style="position:fixed;">
        <div class="copyright">
            <p>
                Copyright &copy;2021 All rights reserved | Sportizza Inc.
            </p>
        </div>
    </footer>
    <!-- End of Footer -->
    <script type="text/javascript" src="/Assets/js/BookingHandelingStaff/manage-bookings.js?version=1"></script>
    <script type="text/javascript" src="/Assets/js/BookingHandelingStaff/notification.js?version=1"></script>
</body>

</html>