<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Bookings</title>
     <!-- Top Nav bar CSS styles -->
     <link rel="stylesheet" href="/Assets/css/navbar.css?version=5">
     <!-- File Specific CSS Styles -->
    <link rel="stylesheet" href="/Assets/css/SpArenaManager/manage-profile.css?version=8">
    <link rel="stylesheet" href="/Assets/css/SpAdministartionStaff/sidebar.css?version=10">
    <!-- Font Styles -->
    <script src="https://kit.fontawesome.com/3220c9480a.js" crossorigin="anonymous"></script>
</head>

<body>
     <!-- Top Navigation Bar -->
     <nav>
        <div class="nav-left">
            <div class="logo-container">
                <a href="/">
                    <i class="fas fa-running "></i>
                    <span class="logo-name">Sportizza</span>
                </a>
            </div>

            <div class="nav-right">
                <!-- Profile button -->
                <div class="nav-profile">
                    <button class="openbutton" onclick="openpopupform()">
                        <div class="profile-details">
                            <img src="/Assets/images/customer/profile-picture.jpg" class="profile-picture">
                            <div class="username">{{current_user.first_name}} {{current_user.last_name}}</div>
                        </div>
                    </button>
                </div>

                <!-- Signout button -->
                <div class="sign-in-out-btn">
                    <button onclick="open_popup_signout_message()">Sign Out</button>
                    <!-- {% if session.user_id %}
                User with ID {{session.user_id}} is logged in.
            {% endif %} -->
                </div>
            </div>
        </div>
    </nav>

    <!-- start popup for profile -->
    <div id="myForm" class="sectionpopnav">
        <div class="formsectionprofile" id="formEditUserProfile">
            <div>
                <button class="closebutton" onclick="closepopupform()">❌</button>
            </div>

            <div class="nav-user-edit-from">
                <div class="details">
                    <div class="input-box">
                        <h5>Name:</h5>
                        <p>
                            {{current_user.first_name}} {{current_user.last_name}}
                        </p>
                    </div>
                    <div class="input-box">
                        <h5>Username:</h5>
                        <p>
                            {{current_user.username}}
                        </p>
                    </div>
                    <div class="input-box">
                        <h5>Mobile:</h5>
                        <p>
                            {{current_user.primary_contact}}</p>
                    </div>
                </div>
                <div class="editProPic">
                    <img id="form-profile-picture" src="/Assets/images/customer/profile-picture.jpg" alt="">
                </div>
            </div>
            <div class="edit-profile-link">
                <a href="\Edituserdetails\EditProfileAction">Edit Profile</a>
            </div>
        </div>
    </div>
    <!-- end popup for profile -->

    <!-- start pop up sign out section -->
    <div id="popup_signout" class="sectionpopnav">
        <div class="formsectionnav">
            <div>
                <button class="closebutton" onclick="close_popup_signout_message()">❌</button>
            </div>
            <form action="/action_page.php" style="margin:20px">
                <div style="margin:auto">
                    <h1>Sign Out</h1>
                    <p>Do your really want to sign out now?</p>
                </div>
            </form>
            <div style="display:flex">
                <button class="popup_buttonnav">
                    {% if current_user %}
                    <a href="/logout"> YES</a>
                    {% endif %}
                </button>
                <button onclick="close_popup_signout_message()" class="popup_delete_buttonnav">
                    NO
                </button>
            </div>
        </div>
    </div>
    <!-- end pop up sign out section -->

    <!-- End Top Navigation Bar -->






    <!-- Start OF the POP up Edit arena form -->
    <!-- <div id="popup_edit_form" class="edit_sectionpop">
        <div class="edit_formsection">
            <div>
                <button class="closebutton" onclick="close_popup_edit_arena_profile()">❌</button>
            </div>
            <h2>Sport Arena Profile</h2>
            <form action="">
                <div class="sp-edit-form">
                    <div class="input-row">
                        <div class="input-box">
                            <label for="spArenaName">Sports Arena Name</label>
                            <input id="spArenaName" type="text" name="arena_name" placeholder="Enter Arena Name"
                                onfocusout="validateSpArenaName()" value="{{sp_arena.arena_name}}">
                            <div class="helper-text" id="spArenaNameMsg">
                                <p>{{errors["arena_name1"]}} {{errors["arena_name2"]}}</p>
                            </div>
                        </div>

                        <div class="input-box">
                            <label for="contact">Contact Number</label>
                            <input id="contact" type="text" name="contact" placeholder="Ex: 0712345678"
                                onfocusout="validateContact()" value="{{sp_arena.contact_no}}">
                            <div class="helper-text" id="contactMsg">
                                <p>{{errors["contact1"]}} {{errors["contact2"]}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="input-row">
                        <div class="input-box">
                            <label for="category">Category</label>
                            <div class="options-container">
                                <div class="custom-select">
                                    <select id="category" name="category" onchange="validateCategory()"
                                        value="{{sp_arena.category}}">
                                        <option value="0"> </option>
                                        <option value="Other">Other</option>
                                        <option value="Football">Football</option>
                                        <option value="Rugby">Rugby</option>
                                        <option value="Swimming">Swimming</option>
                                        <option value="Tennis">Tennis</option>
                                        <option value="Volleyball">Volleyball</option>
                                        <option value="Karathe">Karathe</option>
                                        <option value="Cricket">Cricket</option>
                                    </select>
                                    <div class="helper-text" id="other-categoryMsg">
                                        <p>{{errors["category1"]}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-box">
                            <label for="location">Location</label>
                            <div class="options-container">
                                <div class="custom-select">
                                    <select id="location" name="location" onchange="validateLocation()"
                                        value="{{sp_arena.location}}">
                                        <option value="0"> </option>
                                        <option value="Other">Other</option>
                                        <option value="Matara">Matara</option>
                                        <option value="Galle">Galle</option>
                                        <option value="Gampaha">Gampaha</option>
                                        <option value="Kandy">Kandy</option>
                                        <option value="Hmabanthota">Hambanthota</option>
                                        <option value="Baththaramulla">Baththaramulla</option>
                                        <option value="Nugegods">Nugegoda</option>
                                        <option value="Maradana">Maradana</option>
                                        <option value="Mirissa">Mirissa</option>
                                        <option value="Weligama">Weiligama</option>
                                        <option value="Wattala">Wattala</option>
                                        <option value="Malabe">Malabe</option>
                                    </select>
                                    <div class="helper-text" id="other-locationMsg">
                                        <p>{{errors["location1"]}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="input-box">
                        <label for="map-link">Google Map Link</label>
                        <input id="map-link" type="text" name="google_map_link"
                            placeholder="Ex: https://www.google.com/maps?q=204+C+Sandpiper+Place,+Fort+McMurray,+AB,+Canada"
                            onfocusout="validateMapLink()" value="{{sp_arena.google_map_link}}">
                        <div class="helper-text" id="map-linkMsg">
                            <p>{{errors["google_map1"]}} {{errors["google_map2"]}}</p>
                        </div>
                    </div>

                    <div class="input-box" id="description-input">
                        <label for="description">Description</label>
                        <textarea id="description" rows="5" type="text" name="description"
                            placeholder="(Briefly state about sports arena)" onfocusout="validateDescription()"
                            value="{{sp_arena.description}}"></textarea>
                        <div class="helper-text" id="descriptionMsg">
                            <p>{{errors["description1"]}}</p>
                        </div>
                    </div>

                    <div class="input-row">
                        <div class="input-box">
                            <label for="other-facilities">Other Facilities</label>
                            <input id="other-facilities" type="text" name="other_facilities"
                                onfocusout="validateOtherFacilities()"
                                placeholder="Ex: Changing Rooms, Cafeteria, Car Parking, etc."
                                value="{{sp_arena.other_facilities}}">
                            <div class="helper-text" id="descriptionMsg">
                                <p>{{errors["other_facilities1"]}}</p>
                            </div>
                        </div>
                        <div class="input-box">
                            <label for="payment">Accepted Payment Method</label>
                            <div class="options-container">

                                <div class="custom-select">
                                    <select id="payment" name="payment_method" onchange="validatePayment()"
                                        value="{{sp_arena.payment_method}}">
                                        <option value="0"> </option>
                                        <option value="1">Only card payments</option>
                                        <option value="2">Only cash payments</option>
                                        <option value="3">Both cash & card payments</option>
                                    </select>
                                    <div class="helper-text" id="paymentMsg">
                                        <p>{{errors["payment_method1"]}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="input-box-img">
                        <label for="photos">Sports Arena Photos (Mandatory)
                        </label>
                        <div class="upload-images">
                            <div class="input-row">
                                <div class="input-box">
                                    <div class="img-btn-div">
                                        <label class="tag">Image 1:</label>
                                        <input style type="file" name="image_1" accept="image/*" id="file1"
                                            onchange="change_color(this.files,event)" class="img-button">
                                    </div>
                                    <div class="helper-text" id="imgMsg1">
                                        <p>
                                            {% for key,error in errors ["image_1"] %}
                                            {{error}}
                                            {% endfor %}</p>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <div class="img-btn-div">
                                        <label class="tag">Image 2:</label>
                                        <input style type="file" name="image_2" accept="image/*" id="file2"
                                            onchange="change_color(this.files,event)" class="img-button">
                                    </div>
                                    <div class="helper-text" id="imgMsg2">
                                        {% for key,error in errors ["image_2"] %}
                                        {{error}}
                                        {% endfor %}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="input-row">

                                <div class="input-box">

                                <div class="img-btn-div">
                                    <label class="tag">Image 3:</label>
                                    <input style type="file" name="image_3" accept="image/*" id="file3"
                                        onchange="change_color(this.files,event)" class="img-button">
                                </div>
                                <div class="helper-text" id="imgMsg3">
                                    {% for key,error in errors ["image_3"] %}
                                    {{error}}
                                    {% endfor %}</p>
                                </div>
                            </div>
                            <div class="input-box">
                                <div class="img-btn-div">
                                    <label class="tag">Image 4:</label>
                                    <input style type="file" name="image_4" accept="image/*" id="file4"
                                        onchange="change_color(this.files,event)" class="img-button">
                                </div>
                                <div class="helper-text" id="imgMsg4">
                                    {% for key,error in errors ["image_4"] %}
                                    {{error}}
                                    {% endfor %}</p>
                                </div>
                            </div>
                            </div>

                            <div class="input-box">
                                <div class="img-btn-div">
                                    <label class="tag">Image 5:</label>
                                    <input style type="file" name="image_5" accept="image/*" id="file5"
                                        onchange="change_color(this.files,event)" class="img-button">
                                </div>
                                <div class="helper-text" id="imgMsg5">
                                    {% for key,error in errors ["image_5"] %}
                                    {{error}}
                                    {% endfor %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Update Profile" class="popup_button">
            </form>
        </div>
    </div> -->



    <section class="page-container">

        <!-- SIDE NAVIGATION BAR - START -->
        <div class="sidebar">
            <div class="sidebar-container">
                <div class="side-menu">
                    <i class="fas fa-bars fa-2x " id="side-menu-open-btn"></i>
                    <i class="fas fa-times fa-2x" id="side-menu-close-btn"></i>
                </div>
                <ul class="side-menu-list">
                    <li>
                        <a href="/Spadministrationstaff" class="side-menu-li">
                            <i class="fas fa-home"></i>
                            <p class="side-menu-item">Arena Profile</p>
                        </a>
                        <p class="side-menu-tooltip">Arena Profile</p>
                    </li>
                    <li>
                        <a href="/Spadministrationstaff/managebookings" class="side-menu-li">
                            <i class="fas fa-bookmark"></i>
                            <p class="side-menu-item">Manage Bookings</p>
                        </a>
                        <p class="side-menu-tooltip">Bookings</p>
                    </li>
                    <li>
                        <a href="/Spadministrationstaff/saadminnotification" class="side-menu-li">
                            <i class="fas fa-bell"></i>
                            <p class="side-menu-item">Notifications</p>
                        </a>
                        <p class="side-menu-tooltip">Notifications</p>
                    </li>
                    <li>
                        <a href="/Spadministrationstaff/managetimeslot" class="side-menu-li">
                            <i class="fas fa-clock"></i>
                            <p class="side-menu-item">Manage Timeslot</p>
                        </a>
                        <p class="side-menu-tooltip">Timeslot</p>
                    </li>
                    <li>
                        <a href="/Spadministrationstaff/managefacility" class="side-menu-li">
                            <i class="fas fa-building"></i>
                            <p class="side-menu-item">Manage Facility</p>
                        </a>
                        <p class="side-menu-tooltip">Facility</p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- SIDE NAVIGATION BAR - END -->

        <!-- Manage Bookings Page -->
        <div class="page-content-container">
            <div class="container">
                <div class="sp-arena-home">
                    <div class="sp-arena">
                        <div class="sp-arena-img">
                            <img src="Assets/images/customer/cricket.jpg">
                        </div>
                        <div class="sp-arena-details">
                            <div class="sp-name">
                                <h2>Mercantile Cricket Grounds</h2>
                            </div>
                            <div class="other">
                                <h4>Contact No: 0746464327</h4>
                            </div>
                            <div class="other">
                                <h5>Accepted Payment Methods: Card Payments & Cash Payments</h5>
                            </div>
                            <div class="otherbtn">
                                <a href="/Spadministrationstaff/saAdmineditarenaprofileAction" class="popup_button edit_profile_btn">
                               <i class="fas fa-pencil-alt"></i> Edit Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="about-sp-arena" style="display: block;">
                        <div class="more-details">
                            <div class="detail">
                                <div class="description">
                                    <h5>About Sports Arena</h5>
                                    <p>
                                        Lorem Ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                            <div class="detail">
                                <div class="Other-facilities">
                                    <h5>Other facilities</h5>
                                    <p>Car Parking, Changing Rooms, Cafeteria.</p>
                                </div>
                            </div>
                            <div class="detail-grid">
                                <div class="google-map">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.856271141694!2d79.86827001482301!3d6.907784420492848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25979bfbde28d%3A0xae825954d8507c7d!2sMercantile%20Cricket%20Association!5e0!3m2!1sen!2slk!4v1629887793472!5m2!1sen!2slk"
                                        width="400" height="300" style="border:0;" allowfullscreen=""
                                        loading="lazy"></iframe>
                                </div>

                                <div class="slide-container">
                                    <img id="slide-left" class="arrow" src="Assets/images/customer/arrow-left.png">
                                    <section class="slide-container" id="slider">

                                        <div class="thumbnail">
                                            <img src="Assets/images/customer/Screenshot_1.jpg" alt="">
                                        </div>
                                        <div class="thumbnail">
                                            <img src="Assets/images/customer/Screenshot_2.jpg" alt="">
                                        </div>
                                        <div class="thumbnail">
                                            <img src="Assets/images/customer/Screenshot_3.jpg" alt="">
                                        </div>
                                        <div class="thumbnail">
                                            <img src="Assets/images/customer/Screenshot_4.jpg" alt="">
                                        </div>

                                        <div class="thumbnail">
                                            <img src="Assets/images/customer/Screenshot_10.jpg" alt="">
                                        </div>

                                    </section>
                                    <img id="slide-right" class="arrow" src="Assets/images/customer/arrow-right.png">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Start of Footer -->
    <footer>
        <div class="copyright">
            <p>
                Copyright &copy;2021 All rights reserved | Sportizza Inc.
            </p>
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- Validation JS -->
    <script type="text/javascript" src="/Assets/js/signup_validation.js?version=7.0"></script>
     <!-- Top navbar js -->
     <script type="text/javascript" src="/Assets/js/navbar.js?v=8"></script>
     <!-- File specific JS -->
    <script type="text/javascript" src="/Assets/js/SpArenaManager/manage-profile.js?version=1"></script>
  
</body>

</html>