<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Bookings</title>
    <link rel="stylesheet" href="/Assets/css/SpArenaManager/manage-profile.css?version=3">
    <script src="https://kit.fontawesome.com/3220c9480a.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Top Navigation Bar -->
    <nav>
        <div class="nav-left">
            <div class="logo-container">
                <a href="#">
                    <i class="fas fa-running "></i>
                    <span class="logo-name">Sportizza</span>
                </a>
            </div>
            <div class="search-bar-container">
                <input type="search" name="search" placeholder="Search">
                <i class="fas fa-search "></i>
            </div>
            <div class="nav-profile">
                <button class="openbutton" onclick="openpopupform()">
                    <div class="profile-details">
                        <img src="/Assets/images/Team members/jonathan.png" alt="" class="profile-picture">
                        <div class="username">Bhashitha Ranasinghe</div>
                    </div>
                </button>
            </div>
        <div class="sign-in-out-btn">
            <button onclick="open_popup_signout_message()"> Sign Out </button>
            <!-- {% if current_user %}
                         <a href="/logout"> Sign Out</a>
                         {% endif %} -->
        </div>
        </div>
        <!-- search bar for mobile -->
        <div class="search-bar-container-mobi">
            <input type="search" name="search" placeholder="Search">
            <i class="fas fa-search "></i>
        </div>
    </nav>
    <div id="myForm" class="sectionpop ">
        <div class="formsection">
            <div>
                <button s class="closebutton" onclick="closepopupform()">❌</button>
            </div>
            <img class="form-profile-picture" src="/Assets/images/Team members/jonathan.png" alt="">
            <form action="/action_page.php" style="margin:20px">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Enter First Name" value="sadeepa">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Enter Last Names" value="bhashitha">
                <label for="lname">Primary Number</label>
                <input type="text" id="lname" name="lastname" placeholder="Enter Primary Number" value="0705614640">
                <label for="lname">Secondary Number</label>
                <input type="text" id="userid" name="lastname" placeholder="Enter Secondary Number" value="0705614640">
                <input type="submit" value="Save">
            </form>
        </div>
    </div>
    <!-- End Top Navigation Bar -->
    <!-- Start OF the POP up SIGN out -->
    <div id="popup_signout" class="sectionpop ">
        <div class="formsection">
    
            <div>
                <button class="closebutton" onclick="close_popup_signout_message()">❌</button>
            </div>
            <form action="/action_page.php" style="margin:20px">
                <div style="margin:auto">
                    <h1 style="margin:auto">
                        Sign Out
                    </h1>
                    <p style="margin:auto">
                        Do your really want to sign out now?
                    </p>
                </div>
            </form>
    
    
            <div style="display:flex">
    
                <button class="popup_delete_button">
                    {% if current_user %}
                    <a href="/logout"> YES</a>
                    {% endif %}
                </button>
                <button onclick="close_popup_signout_message()" class="popup_button">
                    NO
                </button>
            </div>
        </div>
    </div>
    <!-- End OF the POP up SIGN out -->

    <section class="page-container">

        <!-- SIDE NAVIGATION BAR - START -->
        <div class="sidebar">
            <div class="sidebar-container">
                <div class="side-menu">
                    <i class="fas fa-bars fa-2x " id="side-menu-open-btn"></i>
                    <i class="fas fa-times fa-2x" id="side-menu-close-btn"></i>
                </div>
                <ul class="side-menu-list">
                    <li>
                        <a href="/Sparenamanager" class="side-menu-li">
                            <i class="fas fa-home"></i>
                            <p class="side-menu-item">Arena Profile</p>
                        </a>
                        <p class="side-menu-tooltip">Arena Profile</p>
                    </li>
                    <li>
                        <a href="/Sparenamanager/managebookings" class="side-menu-li">
                            <i class="fas fa-bookmark"></i>
                            <p class="side-menu-item">Manage Bookings</p>
                        </a>
                        <p class="side-menu-tooltip">Bookings</p>
                    </li>
                    <li>
                        <a href="/Sparenamanager/managernotification" class="side-menu-li">
                            <i class="fas fa-bell"></i>
                            <p class="side-menu-item">Notifications</p>
                        </a>
                        <p class="side-menu-tooltip">Notifications</p>
                    </li>
                    <li>
                        <a href="/Sparenamanager/managetimeslot" class="side-menu-li">
                            <i class="fas fa-clock"></i>
                            <p class="side-menu-item">Manage Timeslot</p>
                        </a>
                        <p class="side-menu-tooltip">Timeslot</p>
                    </li>
                    <li>
                        <a href="/Sparenamanager/managefacility" class="side-menu-li">
                            <i class="fas fa-building"></i>
                            <p class="side-menu-item">Manage Facility</p>
                        </a>
                        <p class="side-menu-tooltip">Facility</p>
                    </li>
                    
                    <li>
                        <a href="/Sparenamanager/manageusers" class="side-menu-li">
                            <i class="fas fa-users"></i>
                            <p class="side-menu-item">Manage Users</p>
                        </a>
                        <p class="side-menu-tooltip">Manage Users</p>
                    </li>
                    <li>
                        <a href="#" class="side-menu-li">
                            <i class="fas fa-chart-bar"></i>
                            <p class="side-menu-item">Analytics</p>
                        </a>
                        <p class="side-menu-tooltip">Analytics</p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- SIDE NAVIGATION BAR - END -->

        <!-- Manage Bookings Page -->
        <div class="page-content-container">
            <div class="container">
                <div class="sp-arena-home">
                    <div class="sp-arena">
                        <div class="sp-arena-img">
                            <img src="Assets/images/customer/cricket.jpg">
                        </div>
                    <div class="sp-arena-details">
                        <div class="sp-name">
                            <h2>Mercantile Cricket Grounds</h2>
                        </div>
                        <div class="other">
                            <h4>Contact No: 0746464327</h4>
                        </div>
                        <div class="other">
                            <h5>Accepted Payment Methods: Card Payments & Cash Payments</h5>
                        </div>
                    </div>
                    </div>
                    <div class="about-sp-arena" style="display: block;">
                    <div class="more-details">
                        <div class="detail">
                            <div class="description">
                                <h5>About Sports Arena</h5>
                                <p>
                                    Lorem Ipsum dolor sit amet, consectetur adipiscing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="Other-facilities">
                                <h5>Other facilities</h5>
                                <p>Car Parking, Changing Rooms, Cafeteria.</p>
                            </div>
                        </div>
                        <div class="detail-grid">
                            <div class="google-map">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.856271141694!2d79.86827001482301!3d6.907784420492848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25979bfbde28d%3A0xae825954d8507c7d!2sMercantile%20Cricket%20Association!5e0!3m2!1sen!2slk!4v1629887793472!5m2!1sen!2slk"
                                    width="400" height="300" style="border:0;" allowfullscreen=""
                                    loading="lazy"></iframe>
                            </div>

                            <div class="slide-container">
                                <img id="slide-left" class="arrow" src="Assets/images/customer/arrow-left.png">
                                <section class="slide-container" id="slider">

                                    <div class="thumbnail">
                                        <img src="Assets/images/customer/Screenshot_1.jpg" alt="">
                                    </div>
                                    <div class="thumbnail">
                                        <img src="Assets/images/customer/Screenshot_2.jpg" alt="">
                                    </div>
                                    <div class="thumbnail">
                                        <img src="Assets/images/customer/Screenshot_3.jpg" alt="">
                                    </div>
                                    <div class="thumbnail">
                                        <img src="Assets/images/customer/Screenshot_4.jpg" alt="">
                                    </div>

                                    <div class="thumbnail">
                                        <img src="Assets/images/customer/Screenshot_10.jpg" alt="">
                                    </div>

                                </section>
                                <img id="slide-right" class="arrow" src="Assets/images/customer/arrow-right.png">
                            </div>
                        </div>
                    </div>


                    </div>
               </div>
            </div>
        </div>
    </section>
    <!-- Start of Footer -->
    <footer>
        <div class="copyright">
            <p>
                Copyright &copy;2021 All rights reserved | Sportizza Inc.
            </p>
        </div>
    </footer>
    <!-- End of Footer -->
    <script type="text/javascript" src="/Assets/js/SpArenaManager/manage-profile.js"></script>
</body>

</html>